/* Define a CSS color variable for light grey */
:root {
  --lightgray: #f7f7f7;
  --gray: #BDBEBE;
  --blue: #0000f5;
}

@font-face {
  font-family: 'AtkinsonHyperlegible';
  font-weight: 400;
  src: url('/assets/fonts/AtkinsonHyperlegible-Regular.ttf');
}

@font-face {
  font-family: 'AtkinsonHyperlegible';
  font-weight: 600;
  src: url('/assets/fonts/AtkinsonHyperlegible-Bold.ttf');
}

* {
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 26px;
  font-family: 'AtkinsonHyperlegible';
}

@media (max-width: 720px) {
  html {
    font-size: 20px;
  }
}

body {
  margin: 0;
}

.limited-width-wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

header {
  margin: 0.5em;
}

input, textarea {
  font-size: 2em;
}

button {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

select {
  font-family: inherit;
  font-size: inherit;
  padding: 0.2em;
  -webkit-appearance: button;
  appearance: button;
  font-size: inherit;
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

address {
  font-style: normal;
}

h1 {
  font-size: inherit;
}

table {
  margin: 0 auto;
  width: 100%;
  min-width: 40em;
  border-spacing: 0;
  border-top: 1px solid var(--gray);
}

tr {
  background: white;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--gray);
}

tr:nth-child(even) {
  background: var(--lightgray);
}

tr.table-header-row {
  position: sticky;
  top: 0;
  background: var(--lightgray);
}

th {
  vertical-align: bottom;
  padding: 0.5em;
  border: none;
  text-align: left;
}

td {
  vertical-align: top;
  padding: 0.5em;
}

td.name, th.name {
  width: 20%;
  max-width: 240px;
}

td.location, th.location {
  width: 20%;
  max-width: 240px;
}

td.website, th.website {
  width: 20%;
  max-width: 240px;
}

td.website ul, td.website li {
  margin: 0;
  padding: 0;
  list-style: none;
}

td.website a {
  display: inline-block;
}

td.website .kitchen-add-link-form {
  display: flex;
  gap: 0.5em;
}

td.website .kitchen-add-link-form input {
  font-size: 1em;
  width: 110px;
  gap: 0.5em;
}

td.website .link-delete-button {
  color: gray;
  cursor: pointer;
  margin-left: 0.5em;
  background: none;
  border: none;
}

td.website .link-delete-button:hover {
  color: black;
}

td.accessibility, th.accessibility {
  width: 26%;
  text-align: center;
  max-width: 312px;
}

td.status, th.status {
  width: 14%;
  max-width: 168px;
}

.gray {
  color: gray;
}

form fieldset {
  border: none;
}
form label {
  display: block;
}
form input {
  display: block;
  border: 1px solid gray;
}

nav.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em 3em;
}

.kitchen-room {
  background: rgb(186, 186, 222);
}

.kitchen-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 1em;
  transform: rotate(-5deg);
}

.kitchen-table {
  background: white;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  /* transform: scale(0.75); */
  animation: forwards zoom-out 2s ease-in-out;
}

.kitchen-table-header {
  padding: 0.5em;
}

.kitchen-add {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: scale(0.85);
  background: white;
  overflow: scroll;
  padding: 0.5em;
}

.kitchen-add-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kitchen-add-form {
  margin-top: 0.5em;
  display: flex;
  gap: 1em;
}

@keyframes zoom-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.85);
  }
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  margin-bottom: 1em;
}

.home-header__left {
  flex-basis: 66.7%;
  flex-grow: 1;
}

.home-header__right {
  flex-basis: 33.3%;
  flex-grow: 0;
}

.home-header__right img {
  width: 100%;
}

.target {
  font-size: 0.9em;
  vertical-align: 0.15em;
  -webkit-text-stroke: 0.02em black;
}

@media (max-width: 720px) {
  .home-header {
    flex-wrap: wrap;
  }
  .home-header__left {
    flex-basis: 100%;
    max-width: 540px;
  }
  .home-header__right {
    flex-basis: 100%;
    max-width: 540px;
  }
}

.home-header__location-options {
  display: flex;
  align-items: center;
  gap: 1em;
}

.material-symbols-outlined {
  font-size: 1.1em;
  vertical-align: -0.16em;
  letter-spacing: -0.1em;
}

footer {
  background: var(--lightgray);
  font-size: 22px;
  line-height: 150%;
  padding: 2em;
}

footer .footer__grid {
  padding: 0 0.5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

footer .footer__part {
  grid-column: span 1;
}

footer .logo {
  width: 300px;
  mix-blend-mode: multiply;
}