<!-- HTML Boilerplate -->
<!DOCTYPE html>
<html lang="en">
  <!-- Head with meta tags -->
  <head>
    <meta charset="utf-8">
    <title>Supported Studios</title>
    <meta name="description" content="Supported Studios are ...">
    <meta name="author" content="Supported Studios">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="style.css">
    <!-- Favicon -->
    <!-- <link rel="icon" href="favicon.ico"> -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <!-- Body -->
  <body>
    <div id="app">
      <!-- Header -->
      <header>
        <h1>Supported Studios</h1>
      </header>
      <!-- Main -->
      <main>
        <nav class="filters">
          <h2>Sort by nearest studio</h2>
          <!-- <form> -->
            <div>
              <button @click="handleClickUseLocation">Use my device's location</button>
            </div>
            <label for="postal-code">Postal Code</label><br/>
            <input type="text" name="postal-code"/>
          <!-- </form> -->
        </nav>
        <h2>All supported studios</h2>
        <table>
          <tr>
            <th>Name</th>
            <th>Country</th>
            <th>Locality</th>
            <th v-if="showDistances">Distance</th>
          </tr>
          <tr v-for="(placeDetail, placeIndex) in placeDetails" :key="placeDetail.google_maps_url">
            <!-- <td><img v-if="placeDetail.photos?.length" :src="`https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photo_reference=${placeDetail.photos[0].photo_reference}`"/></td> -->
            <td><a :href="placeDetail.google_maps_url" target="_blank">{{ placeDetail.name }}</a></td>
            <td>{{ placeDetail.address_components.find(address_component => address_component.types?.includes('country'))?.long_name }}</td>
            <td>{{ getLocality(placeDetail) }}</td>
            <td v-if="showDistances"></td>
          </tr>
        </table>
      </main>
      <!-- Footer -->
      <footer>
      </footer>
    </div>

    <script src="./data/placeDetails.js"></script>
    <script>
      const { createApp } = Vue
      const app = createApp({
        data() {
          return {
            placeDetails,
            distances: [],
            showDistances: false,
          }
        },
        methods: {
          getLocality,
          calculateDistances,
          handleClickUseLocation,
        }
      })
      app.mount('#app')

      function getLocality(placeDetail) {
        return placeDetail.address_components.find(address_component => address_component.types?.includes('locality') || address_component.types?.includes('postal_town'))?.long_name
      }
      function calculateDistances(originCoordinates, placeCoordinates) {
      }
      function handleClickUseLocation() {
        navigator.geolocation.getCurrentPosition(geolocationSuccess, geolocationError)
      }
      function geolocationSuccess(position) {
        console.log(position)
        if (position?.coords?.latitude && position?.coords?.longitude) {
          calculateDistances({latitude: position.coords.latitude, longitude: position.coords.longitude})
        } else {
          throw new Error("Geolocation was missing latitude and longitude")
        }
      }
      function geolocationError(error) {
        console.error(error)
      }
    </script>
  </body>
</html>
